<ng-container *ngIf="playground.started; then startedRef; else notStartedRef"></ng-container>

<ng-template #startedRef>
  <span>Тестировщик {{ settings.name }}</span>
  <span>Попытка №{{ playground.currentRound$ | async }}</span>

  <div *ngIf="playground.circleData$ | async as data" class="container">
    <div *ngIf="data.showCircle" class="circle" [style.backgroundColor]="settings.color" [style.top]="data.top"
      [style.left]="data.left" [style.width]="data.size" [style.height]="data.size"></div>
  </div>
</ng-template>

<ng-template #notStartedRef>
  <span class="message">Можете начать тестирование нажатием на пробел</span>
</ng-template>
